<button class="btn btn-primary" routerLink="">go to home page</button>
<div class="container">
<h1>add a container</h1>
<form action="POST">
    <label>give a name to container</label> 
    <input type="text" /><br>
    <label>content</label> 
    <select class="form-control">
        <option>classified</option>
        <option>food</option>
        <option>clothes</option>
        <option>mechanical parts</option>
        <option>chemical compositions</option>
    </select><br>
    <label>content sensitivity</label> 
    <select class="form-control">
        <option>dangerous</option>
        <option>very sensitive</option>
        <option>normal</option>
        <option>a little bit</option>
        <option>not at all</option>
    </select>
</form>
</div>