<footer  style="background-color: tomato;">
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-5 mt-md-0 mt-3">
          <h5 class="text-uppercase"><strong>about</strong> </h5>
          <p style="font-weight: 100;">an interface<br> for managing<br> smart containers<br/></p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
          <h5 class="text-uppercase"><strong>social links</strong> </h5>
            <img src="../../assets/mani.jpg" height="70px" width="70px"/><br>
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/TheMrCalindo/videos?view_as=subscriber"><img src="../../assets/youtube.png"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/mohamedalimani/"><img src="../../assets/instagram.png"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mohamed-ali-mani-391572180/"><img src="../../assets/linkedin.png"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/mohamedali.mani/"><img src="../../assets/facebook.png"></a>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
        <img src="../../assets/university.png" height="170px" width="180px"/>
        </div>
        </div>
      <!-- Grid row -->
    </div>
    <div class="footer-copyright text-center py-3" >
      <a href="https://www.facebook.com/mohamedali.mani" style="color:rgb(68, 49, 49)"><strong> Mohamed Ali Mani © 2021</strong> </a>
    </div>
  </footer>
 
  
  