<button class="btn btn-primary" routerLink="">go to home page</button>
<div class="container">
<h1>Create your account</h1>
<form action="POST">
    <label>set username</label> 
    <input type="text" /><br>
    <label>enter email</label> 
    <input type="email" /><br>
    <label>gender</label> 
    <select class="form-control">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select><br>
    <label>Occupation</label> 
    <input type="text"/><br>
    <label>Set a password</label> 
    <input type="password"/><br>
    <label>Repeat password</label> 
    <input type="password"/><br>
    <label>select a profile picture</label> 
    <input type="file"/>
</form>
</div>